<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <!-- making a navbar  -->
    <nav>
        <div class="logo">Restaurant Apps</div>
        <button class="menu-button">
            <i class="fa-solid fa-bars"></i>
        </button>
        <!-- <button class="close-button">
            <i class="fa-solid fa-bars"></i>
        </button> -->
        <div class="right-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://github.com/rama4zis" target="_blank">About Us</a></li>
            </ul>
            
        </div>
        
        
    </nav>

    <div class="banner">
        <img src="./images/heros/hero-image_2.jpg" alt="Restaurant">
    </div>

    <div class="container">
        <div class="container-title">
            <h1>Restaurant Apps Starter Project</h1>
        </div>

        <div class="container-content" id="maincontent">

            <div class="card-item">
                <div class="card-item-image">
                    <div class="card-item-image-wrap">
                        <img src="./images/heros/hero-image_1.jpg" width="450" alt="Italian Theme Restaurant">
                        <span class="image-tag">Kota Surabaya</span>
                    </div>
                </div>
                <div class="card-item-content">
                    <h3 class="rating">Rating: 4.5</h3>
                    <h2 class="res-name">Lorem, ipsum dolor.</h2>
                    <p class="res-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda alias perferendis, inventore, quod dicta ex dignissimos velit deleniti molestiae, libero ipsa excepturi laudantium consequuntur commodi?</p>
                </div>
            </div>

            <div class="card-item">
                <div class="card-item-image">
                    <div class="card-item-image-wrap">
                        <img src="./images/heros/hero-image_2.jpg" width="450" alt="Restaurant">
                        <span class="image-tag">Kota Surabaya</span>
                    </div>
                </div>
                <div class="card-item-content">
                    <h3 class="rating">Rating: 4.5</h3>
                    <h2 class="res-name">Lorem, ipsum dolor.</h2>
                    <p class="res-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda alias perferendis, inventore, quod dicta ex dignissimos velit deleniti molestiae, libero ipsa excepturi laudantium consequuntur commodi?</p>
                </div>
            </div>

            <div class="card-item">
                <div class="card-item-image">
                    <div class="card-item-image-wrap">
                        <img src="./images/heros/hero-image_3.jpg" width="450" alt="Nightly Restaurant">
                        <span class="image-tag">Kota Surabaya</span>
                    </div>
                </div>
                <div class="card-item-content">
                    <h3 class="rating">Rating: 4.5</h3>
                    <h2 class="res-name">Lorem, ipsum dolor.</h2>
                    <p class="res-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda alias perferendis, inventore, quod dicta ex dignissimos velit deleniti molestiae, libero ipsa excepturi laudantium consequuntur commodi?</p>
                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        copyright &copy; 2022 - Restaurant Apps
    </div>


    <!-- <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
    <img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->
</body>

</html>